.colorHeadercandybarbackground {
    border-color:transparent;
    background-color:#b4cbd2;
    color:#000000;
    background-image:url(/images/HeadBlue.png);
    background-repeat:repeat-x;
    background-position:top left
}
.fontShapeaverage {
    font:14px Gentium, Georgia, "Times New Roman", Times, serif !important
}
.fontShapeaverage p {
    font:100% Gentium, Georgia, "Times New Roman", Times, serif !important;
    padding:0px 10px 20px 60px
}
.fontShapeaverage small {
    font:12px Gentium, Georgia, "Times New Roman", Times, serif !important
}
.fontShapeaverage h1, .fontShapeaverage .h1 {
    font:normal 24px/27px Gentium, Georgia, "Times New Roman", Times, serif !important;
    padding:0px;
    margin:10px 0px 5px 10px;
    border-style:solid none none none;
    border-width:1px 0px 0px 0px;
    border-color: #8f8f8f
}
.fontShapeaverage h2, .fontShapeaverage .h2 {
    font:normal 20px/23px Gentium, Georgia, "Times New Roman", Times, serif !important;
    padding:5px;
    margin:10px 0px 5px 20px;
    border-style:dotted none none none;
    border-width:1px 0px 0px 0px;
    border-color: #8f8f8f
}
.fontShapeaverage h3, .fontShapeaverage .h3 {
    font:normal 16px/19px Gentium, Georgia, "Times New Roman", Times, serif !important;
    padding:4px;
    margin:10px 0px 5px 30px;
    border-style:none;
    border-width:0px
}
.fontShapeaverage h4, .fontShapeaverage .h4,.fontShapeaverage h5, .fontShapeaverage .h5,.fontShapeaverage h6, .fontShapeaverage .h6 {
    font:normal 14px Gentium, Georgia, "Times New Roman", Times, serif !important;
    padding:3px;
    margin:10px 0px 5px 40px;
    border-style:none;
    border-width:0px
}
.fontShapeaverage a,.fontShapeaverage a div,.fontShapeaverage a span {
    text-decoration:none
}
.fontShapeaverage a:visited,.fontShapeaverage a:visited div,.fontShapeaverage a:visited span {
    text-decoration:none
}
.fontShapeaverage a:active,.fontShapeaverage a:active div,.fontShapeaverage a:active span {
    text-decoration:underline overline
}
.fontShapeaverage a:hover,.fontShapeaverage a:hover div,.fontShapeaverage a:hover span {
    text-decoration:underline
}
.fontShapemini {
    font:12px Gentium, Georgia, "Times New Roman", Times, serif !important
}
.fontShapemini p {
    font:100% Gentium, Georgia, "Times New Roman", Times, serif !important;
    padding:0em
}
.fontShapemini small {
    font:10px Gentium, Georgia, "Times New Roman", Times, serif !important
}
.fontShapemini h1, .fontShapemini .h1 {
    font:normal 16px/19px Verdana, sans-serif !important;
    padding:0.8em 0em 0em 0em;
    border-style:none;
    border-width:1px
}
.fontShapemini h2, .fontShapemini .h2 {
    font:bold 14px Verdana, sans-serif !important;
    padding:0.6em 0em 0em 0em;
    border-style:none;
    border-width:1px
}
.fontShapemini h3, .fontShapemini .h3 {
    font:bold 12px Verdana, sans-serif !important;
    padding:0.6em 0em 0em 0em;
    border-style:none;
    border-width:1px
}
.fontShapemini h4, .fontShapemini .h4,.fontShapemini h5, .fontShapemini .h5,.fontShapemini h6, .fontShapemini .h6 {
    font:bold 11px Verdana, sans-serif !important;
    padding:0.4em 0em 0em 0em;
    border-style:none;
    border-width:1px
}
.fontShapemini a,.fontShapemini a div,.fontShapemini a span {
    text-decoration:none
}
.fontShapemini a:visited,.fontShapemini a:visited div,.fontShapemini a:visited span {
    text-decoration:none
}
.fontShapemini a:active,.fontShapemini a:active div,.fontShapemini a:active span {
    text-decoration:underline overline
}
.fontShapemini a:hover,.fontShapemini a:hover div,.fontShapemini a:hover span {
    text-decoration:underline
}
.colorNavboxstyle {
    border-color:transparent transparent transparent transparent;
    background-color:#edd8ae;
    color:#000000;
    background-image:url(/images/NavDun-g.png);
    background-repeat:repeat-y;
    background-position:top left
}
.boxShapeextraleftboxes .title {
    border-style:none;
    border-width:0;
    padding:30px 10px 5px 5px;
    display:inline;
    font:bold 12px Arial, Helvetica, Verdana, sans-serif
}
.boxShapeextraleftboxes .body {
    border-style:none none solid none;
    border-width:1px;
    padding:5px 5px 10px 5px
}
.boxShapeextraleftboxes .body ul.cpsskinsMenu li a {
    border-style:none;
    border-width:0;
    padding:2px;
    margin:0
}
.boxShapeextraleftboxes .body ul.cpsskinsMenu li.selected a {
    border-style:none;
    border-width:0;
    padding:0px;
    margin:0
}
.boxColorextraleftboxes .title {
    background-color:transparent;
    border-color:transparent;
    color:#666666
}
.boxColorextraleftboxes .title a {
    color:#666666
}
.boxColorextraleftboxes .body {
    background-color:#edd8ae;
    border-color:#edd8ae;
    background-image:url(/images/NavDun-g.png);
    background-repeat:repeat-y;
    background-position:top left
}
.boxColorextraleftboxes .body ul.cpsskinsMenu li a {
    border-color:transparent
}
.boxColorextraleftboxes .body ul.cpsskinsMenu li.selected a {
    border-color:transparent
}
.boxColorextraleftboxes .body ul.cpsskinsMenu li a {
    background-color:transparent
}
.boxColorextraleftboxes .body ul.cpsskinsMenu li a:hover,.boxColorextraleftboxes .body ul.cpsskinsMenu li.selected a {
    background-color:transparent
}
.boxColorextraleftboxes .body ul.cpsskinsMenu li a {
    background-image:url(/images/blue_bullet.png);
    padding-left:20px !important
}
.boxColorextraleftboxes .body ul.cpsskinsMenu li.selected a {
    background-image:url(/images/blue_bullet.png);
    padding-left:20px !important
}
.fontColordefaultfontcolors h1, .fontColordefaultfontcolors .h1 {
    border-color:#666666;
    color:#a52929
}
.fontColordefaultfontcolors h2, .fontColordefaultfontcolors .h2 {
    border-color:#666666;
    color:#a52929
}
.fontColordefaultfontcolors h3, .fontColordefaultfontcolors .h3 {
    border-color:#666666;
    color:#a52929
}
.fontColordefaultfontcolors h4, .fontColordefaultfontcolors .h4,.fontColordefaultfontcolors h5, .fontColordefaultfontcolors .h5,.fontColordefaultfontcolors h6, .fontColordefaultfontcolors .h6 {
    border-color:#666666;
    color:#a52929
}
.fontColordefaultfontcolors a,.fontColordefaultfontcolors a div,.fontColordefaultfontcolors a span {
    color:#0066cc
}
.fontColordefaultfontcolors a:visited,.fontColordefaultfontcolors a:visited div,.fontColordefaultfontcolors a:visited span {
    color:#003399
}
.fontColordefaultfontcolors a:active,.fontColordefaultfontcolors a:active div,.fontColordefaultfontcolors a:active span {
    color:#0066cc
}
.fontColordefaultfontcolors a:hover,.fontColordefaultfontcolors a:hover div,.fontColordefaultfontcolors a:hover span {
    color:#0066cc
}
.boxShapeobjectactions .title {
    border-style:none solid none none;
    border-width:1px;
    padding:0;
    display:inline;
    font:12px Arial, Helvetica, Verdana, sans-serif
}
.boxShapeobjectactions .body {
    border-style:dotted;
    border-width:1px;
    padding:5px
}
.boxShapeobjectactions .body ul.cpsskinsMenu li a {
    border-style:none;
    border-width:0px;
    padding:5px;
    margin:2px
}
.boxShapeobjectactions .body ul.cpsskinsMenu li.selected a {
    border-style:none;
    border-width:0px;
    padding:5px;
    margin:2px
}
.boxColorobjectactions .title {
    background-color:#d0d0d0;
    border-color:#999999;
    color:Black
}
.boxColorobjectactions .title a {
    color:Black
}
.boxColorobjectactions .body {
    background-color:transparent;
    border-color:#bcbcbc
}
.boxColorobjectactions .body ul.cpsskinsMenu li a {
    border-color:transparent
}
.boxColorobjectactions .body ul.cpsskinsMenu li.selected a {
    border-color:transparent
}
.boxColorobjectactions .body ul.cpsskinsMenu li a {
    background-color:transparent
}
.boxColorobjectactions .body ul.cpsskinsMenu li a:hover,.boxColorobjectactions .body ul.cpsskinsMenu li.selected a {
    background-color:#afc4de
}
.boxShapenavbox .title {
    border-style:none;
    border-width:0px;
    padding:0px;
    display:inline;
    font:bold 12px Arial, Helvetica, Verdana, sans-serif
}
.boxShapenavbox .body {
    border-style:solid;
    border-width:0px;
    padding:10px 0 0 0
}
.boxShapenavbox .body ul.cpsskinsMenu li a {
    border-style:none;
    border-width:0px;
    padding:1px 0px 1px 21px;
    margin:1px 3px 1px 3px
}
.boxShapenavbox .body ul.cpsskinsMenu li.selected a {
    border-style:solid;
    border-width:0px;
    padding:1px 0px 1px 21px;
    margin:0px 3px 0px 3px
}
.boxColornavbox .title {
    background-color:transparent;
    border-color:transparent;
    color:#666666
}
.boxColornavbox .title a {
    color:#666666
}
.boxColornavbox .body {
    background-color:transparent;
    border-color:transparent
}
.boxColornavbox .body ul.cpsskinsMenu li a {
    border-color:transparent
}
.boxColornavbox .body ul.cpsskinsMenu li.selected a {
    border-color:transparent
}
.boxColornavbox .body ul.cpsskinsMenu li a {
    background-color:transparent
}
.boxColornavbox .body ul.cpsskinsMenu li a:hover,.boxColornavbox .body ul.cpsskinsMenu li.selected a {
    background-color:#b4cbd2
}
.fontColormini h1, .fontColormini .h1 {
    border-color:#666666;
    color:Black
}
.fontColormini h2, .fontColormini .h2 {
    border-color:#666666;
    color:Black
}
.fontColormini h3, .fontColormini .h3 {
    border-color:#666666;
    color:Black
}
.fontColormini h4, .fontColormini .h4,.fontColormini h5, .fontColormini .h5,.fontColormini h6, .fontColormini .h6 {
    border-color:#666666;
    color:Black
}
.fontColormini a,.fontColormini a div,.fontColormini a span {
    color:#0066cc
}
.fontColormini a:visited,.fontColormini a:visited div,.fontColormini a:visited span {
    color:#003399
}
.fontColormini a:active,.fontColormini a:active div,.fontColormini a:active span {
    color:blue
}
.fontColormini a:hover,.fontColormini a:hover div,.fontColormini a:hover span {
    color:#0066cc
}
.colorfontcolorgray {
    border-color:transparent;
    background-color:transparent;
    color:#666666
}
.fontColordefaultnovisitedlinks h1, .fontColordefaultnovisitedlinks .h1 {
    border-color:#666666;
    color:Black
}
.fontColordefaultnovisitedlinks h2, .fontColordefaultnovisitedlinks .h2 {
    border-color:#666666;
    color:Black
}
.fontColordefaultnovisitedlinks h3, .fontColordefaultnovisitedlinks .h3 {
    border-color:#666666;
    color:Black
}
.fontColordefaultnovisitedlinks h4, .fontColordefaultnovisitedlinks .h4,.fontColordefaultnovisitedlinks h5, .fontColordefaultnovisitedlinks .h5,.fontColordefaultnovisitedlinks h6, .fontColordefaultnovisitedlinks .h6 {
    border-color:#666666;
    color:Black
}
.fontColordefaultnovisitedlinks a,.fontColordefaultnovisitedlinks a div,.fontColordefaultnovisitedlinks a span {
    color:#0066cc
}
.fontColordefaultnovisitedlinks a:visited,.fontColordefaultnovisitedlinks a:visited div,.fontColordefaultnovisitedlinks a:visited span {
    color:#0066cc
}
.fontColordefaultnovisitedlinks a:active,.fontColordefaultnovisitedlinks a:active div,.fontColordefaultnovisitedlinks a:active span {
    color:blue
}
.fontColordefaultnovisitedlinks a:hover,.fontColordefaultnovisitedlinks a:hover div,.fontColordefaultnovisitedlinks a:hover span {
    color:#0066cc
}
.fontShapeactions {
    font:12px Gentium, Georgia, "Times New Roman", Times, serif !important
}
.fontShapeactions p {
    font:100% Gentium, Georgia, "Times New Roman", Times, serif !important;
    padding:0em
}
.fontShapeactions small {
    font:10px Gentium, Georgia, "Times New Roman", Times, serif !important
}
.fontShapeactions h1, .fontShapeactions .h1 {
    font:normal 16px/19px Verdana, sans-serif !important;
    padding:0.8em 0em 0em 0em;
    border-style:none;
    border-width:1px
}
.fontShapeactions h2, .fontShapeactions .h2 {
    font:bold 14px Verdana, sans-serif !important;
    padding:0.6em 0em 0em 0em;
    border-style:none;
    border-width:1px
}
.fontShapeactions h3, .fontShapeactions .h3 {
    font:bold 13px Verdana, sans-serif !important;
    padding:0.6em 0em 0em 0em;
    border-style:none;
    border-width:1px
}
.fontShapeactions h4, .fontShapeactions .h4,.fontShapeactions h5, .fontShapeactions .h5,.fontShapeactions h6, .fontShapeactions .h6 {
    font:bold 12px Verdana, sans-serif !important;
    padding:0.4em 0em 0em 0em;
    border-style:none;
    border-width:1px
}
.fontShapeactions a,.fontShapeactions a div,.fontShapeactions a span {
    text-decoration:none
}
.fontShapeactions a:visited,.fontShapeactions a:visited div,.fontShapeactions a:visited span {
    text-decoration:none
}
.fontShapeactions a:active,.fontShapeactions a:active div,.fontShapeactions a:active span {
    text-decoration:underline overline
}
.fontShapeactions a:hover,.fontShapeactions a:hover div,.fontShapeactions a:hover span {
    text-decoration:none
}
.boxCornerRoundedBoxCorners {
    border:1px solid #bcbcbc;
    background-color:white
}
.boxCornerRoundedBoxCorners .rbtop div {
    background:url(/images/corner1.png) no-repeat top left;
    height:9px
}
.boxCornerRoundedBoxCorners .rbtop {
    background:url(/images/corner2.png) no-repeat top right;
    height:9px
}
.boxCornerRoundedBoxCorners .rbbot div {
    background:url(/images/corner4.png) no-repeat bottom left;
    height:9px
}
.boxCornerRoundedBoxCorners .rbbot {
    background:url(/images/corner3.png) no-repeat bottom right;
    height:9px
}
.fontShapeTitleindex {
    font:14px Gentium, Georgia, "Times New Roman", Times, serif !important
}
.fontShapeTitleindex p {
    font:100% Gentium, Georgia, "Times New Roman", Times, serif !important;
    padding:0em
}
.fontShapeTitleindex h1, .fontShapeTitleindex .h1 {
    font:bold 24px/27px Gentium, Georgia, "Times New Roman", Times, serif !important;
    padding:0px;
    margin:0px;
    border-style:none;
    border-width:0px
}
.fontShapeTitleindex h2, .fontShapeTitleindex .h2 {
    font:bold 20px/23px Gentium, Georgia, "Times New Roman", Times, serif !important;
    padding:0.6em 0em 0em 0em;
    border-style:none;
    border-width:0
}
.fontShapeTitleindex h3, .fontShapeTitleindex .h3 {
    font:bold 16px/19px Gentium, Georgia, "Times New Roman", Times, serif !important;
    padding:0.6em 0em 0em 0em;
    border-style:none;
    border-width:0
}
.fontShapeTitleindex h4, .fontShapeTitleindex .h4,.fontShapeTitleindex h5, .fontShapeTitleindex .h5,.fontShapeTitleindex h6, .fontShapeTitleindex .h6 {
    font:bold 14px Gentium, Georgia, "Times New Roman", Times, serif !important;
    padding:0.4em 0em 0em 0em;
    border-style:none;
    border-width:0
}
.fontShapeTitleindex a,.fontShapeTitleindex a div,.fontShapeTitleindex a span {
    text-decoration:none
}
.fontShapeTitleindex a:visited,.fontShapeTitleindex a:visited div,.fontShapeTitleindex a:visited span {
    text-decoration:none
}
.fontShapeTitleindex a:active,.fontShapeTitleindex a:active div,.fontShapeTitleindex a:active span {
    text-decoration:underline overline
}
.fontShapeTitleindex a:hover,.fontShapeTitleindex a:hover div,.fontShapeTitleindex a:hover span {
    text-decoration:underline
}
.fontColortitleindex h1, .fontColortitleindex .h1 {
    border-color:#666666;
    color:#003399
}
.fontColortitleindex h2, .fontColortitleindex .h2 {
    border-color:#666666;
    color:#606060
}
.fontColortitleindex h3, .fontColortitleindex .h3 {
    border-color:#666666;
    color:#606060
}
.fontColortitleindex h4, .fontColortitleindex .h4,.fontColortitleindex h5, .fontColortitleindex .h5,.fontColortitleindex h6, .fontColortitleindex .h6 {
    border-color:#666666;
    color:Black
}
.fontColortitleindex a,.fontColortitleindex a div,.fontColortitleindex a span {
    color:#0066cc
}
.fontColortitleindex a:visited,.fontColortitleindex a:visited div,.fontColortitleindex a:visited span {
    color:#003399
}
.fontColortitleindex a:active,.fontColortitleindex a:active div,.fontColortitleindex a:active span {
    color:blue
}
.fontColortitleindex a:hover,.fontColortitleindex a:hover div,.fontColortitleindex a:hover span {
    color:#0066cc
}
.boxShapeLatestbox .title {
    border-style:none;
    border-width:0px;
    padding:0px 5px 0px 10px;
    display:inline;
    font:bold 175% Arial, Helvetica, Verdana, sans-serif
}
.boxShapeLatestbox .body {
    border-style:none;
    border-width:0px;
    padding:10px 10px 10px 10px
}
.boxShapeLatestbox .body ul.cpsskinsMenu li a {
    border-style:none;
    border-width:1px;
    padding:2px;
    margin:2px
}
.boxShapeLatestbox .body ul.cpsskinsMenu li.selected a {
    border-style:none;
    border-width:0px;
    padding:2px;
    margin:2px
}
.boxColortitleindex .title {
    background-color:#FFF;
    border-color:transparent;
    color:#003399
}
.boxColortitleindex .title a {
    color:#003399
}
.boxColortitleindex .body {
    background-color:#fff;
    border-color:#999999
}
.boxColortitleindex .body ul.cpsskinsMenu li a {
    border-color:#fff
}
.boxColortitleindex .body ul.cpsskinsMenu li.selected a {
    border-color:transparent
}
.boxColortitleindex .body ul.cpsskinsMenu li a {
    background-color:#fff
}
.boxColortitleindex .body ul.cpsskinsMenu li a:hover,.boxColortitleindex .body ul.cpsskinsMenu li.selected a {
    background-color:#e7e7e7
}
.boxColortitleindex .body ul.cpsskinsMenu li a {
    background-image:url(/images/blakbullet.png);
    padding-left:20px !important
}
.boxColortitleindex .body ul.cpsskinsMenu li.selected a {
    background-image:url(/images/blakbullet.png);
    padding-left:20px !important
}
.colorHeadBlue {
    border-color:transparent;
    background-color:#b4cbd2;
    color:#000000;
    background-image:url(/images/HeadBlue-t.png);
    background-repeat:repeat-x;
    background-position:top left
}
.shapeAreaShape {
    border-style:solid;
    border-width:1px;
    text-transform:none
}
.shapeBodyShape {
    border-style:solid solid solid solid;
    border-width:1px 1px 1px 1px;
    text-transform:none
}
.colorBodyGrey {
    border-color:#070f42 #070f42 #070f42 #070f42;
    background-color:#f5f5f5;
    color:#000000;
    background-image:url(/images/whitemaintop.png);
    background-repeat:repeat;
    background-position:top left
}
.colorAreaColor2 {
    border-color:red;
    background-color:transparent;
    color:#000000
}
.colorNavDun {
    border-color:transparent;
    background-color:#edd8ae;
    color:#000000;
    background-image:url(/images/NavDun-g.png);
    background-repeat:repeat-y;
    background-position:top left
}
.colorLFlankBlue {
    border-color:transparent;
    background-color:#070f42;
    color:#000000;
    background-image:url(/images/FlankBlue.png);
    background-repeat:repeat-y;
    background-position:top left
}
.colorRFlankBlue {
    border-color:transparent;
    background-color:#070f42;
    color:#000000;
    background-image:url(/images/FlankBlue.png);
    background-repeat:repeat-y;
    background-position:top right
}
.colorBodyGrey2 {
    border-color:transparent;
    background-color:#f5f5f5;
    color:#000000;
    background-image:url(/images/IeB_bg_03.png);
    background-repeat:repeat;
    background-position:top left
}
.colorHeadBlueT {
    border-color:transparent;
    background-color:#b4cbd2;
    color:#000000;
    background-image:url(/images/HeadBlue-t.png);
    background-repeat:repeat-x;
    background-position:top left
}
.colorHeadBlueB {
    border-color:transparent;
    background-color:#b4cbd2;
    color:#000000;
    background-image:url(/images/HeadBlue-b.png);
    background-repeat:repeat-x;
    background-position:bottom left
}
.portalTabheadmenu {
    background:url(/images/HeadBlue.png) top repeat-x
}
.portalTabheadmenu ul.cpsskinsMenu li {
    margin:0 1px 0 0
}
.portalTabheadmenu ul.cpsskinsMenu li a {
    padding:3px 5px 3px 5px
}
.portalTabheadmenu ul.cpsskinsMenu li {
    background:url(/images/HeadBlue.png) right top no-repeat;
    border-bottom:1px solid #b4cbd2
}
.portalTabheadmenu ul.cpsskinsMenu li a {
    background:url(/images/HeadBlue.png) left top no-repeat
}
.portalTabheadmenu ul.cpsskinsMenu li.selected {
    background:url(/images/HeadBlue.png) right top no-repeat;
    border-bottom:1px solid #b4cbd2
}
.portalTabheadmenu ul.cpsskinsMenu li.selected a {
    background:url(/images/HeadBlue.png) left top no-repeat
}
.fontColorheadertabfontcolors h1, .fontColorheadertabfontcolors .h1 {
    border-color:#666666;
    color:#a52929
}
.fontColorheadertabfontcolors h2, .fontColorheadertabfontcolors .h2 {
    border-color:#666666;
    color:#a52929
}
.fontColorheadertabfontcolors h3, .fontColorheadertabfontcolors .h3 {
    border-color:#666666;
    color:#a52929
}
.fontColorheadertabfontcolors h4, .fontColorheadertabfontcolors .h4,.fontColorheadertabfontcolors h5, .fontColorheadertabfontcolors .h5,.fontColorheadertabfontcolors h6, .fontColorheadertabfontcolors .h6 {
    border-color:#666666;
    color:#a52929
}
.fontColorheadertabfontcolors a,.fontColorheadertabfontcolors a div,.fontColorheadertabfontcolors a span {
    color:#335262
}
.fontColorheadertabfontcolors a:visited,.fontColorheadertabfontcolors a:visited div,.fontColorheadertabfontcolors a:visited span {
    color:#335262
}
.fontColorheadertabfontcolors a:active,.fontColorheadertabfontcolors a:active div,.fontColorheadertabfontcolors a:active span {
    color:#335262
}
.fontColorheadertabfontcolors a:hover,.fontColorheadertabfontcolors a:hover div,.fontColorheadertabfontcolors a:hover span {
    color:#335262
}
.fontColorheadertabfontcolors a,.fontColorheadertabfontcolors a div,.fontColorheadertabfontcolors a span {
    background-color:transparent
}
.fontColorheadertabfontcolors a:visited,.fontColorheadertabfontcolors a:visited div,.fontColorheadertabfontcolors a:visited span {
    background-color:transparent
}
.fontColorheadertabfontcolors a:active,.fontColorheadertabfontcolors a:active div,.fontColorheadertabfontcolors a:active span {
    background-color:transparent
}
.fontColorheadertabfontcolors a:hover,.fontColorheadertabfontcolors a:hover div,.fontColorheadertabfontcolors a:hover span {
    background-color:transparent
}